{% macro columns() %}
  {{ apos.area(data.page, 'main', {
    blockLevelControls: true,
    widgets: {
      'one-column': {},
      'two-column': {},
      'three-column': {}
    }
  }) }}
{% endmacro %}

{% macro column(parent, name, imageSize) %}
  {{ apos.area(parent, name, {
    widgets: {
      'apostrophe-rich-text': {
        toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ]
      },
      'apostrophe-images': {
        size: imageSize
      },
      'apostrophe-video': {},
      'test': {}
    }
  }) }} 
{% endmacro %}

